<terra-info-box>
        <span body>
            <terra-text-input
                [hidden]="_editModeActive === false"
                [inputName]="'account' | translate:lang"
                [(ngModel)]="credential.data.userId">
            </terra-text-input>

            <span [hidden]="_editModeActive === true">
                <b>{{'account' | translate:lang}}:</b> {{credential.data.userId}}<br>
            </span>

            <b>{{'environment' | translate:lang}}:</b> {{credential.environment | translate:lang}}<br>
            <b>{{'status' | translate:lang}}:</b> {{credential.status | translate:lang}}<br>
            <b>{{'expiration' | translate:lang}}:</b> {{_credentialRefreshTokenExpiration | localeDate:defaultLocale:'medium'}}<br>
            <b>{{'createdAt' | translate:lang}}:</b> {{_credentialCreatedAt | localeDate:defaultLocale:'medium'}}
        </span>
    <div buttons>
        <terra-button
            [inputIcon]="'icon-edit'"
            [inputIsPrimary]="true"
            [inputTooltipText]="'edit' | translate:lang"
            [inputTooltipPlacement]="'bottom'"
            [hidden]="_editModeActive === true"
            (outputClicked)="_editModeActive = true">
        </terra-button>
        <terra-button
            [inputIcon]="'icon-save'"
            [inputTooltipText]="'save' | translate:lang"
            [inputTooltipPlacement]="'bottom'"
            [hidden]="_editModeActive === false"
            (outputClicked)="onSaveCredentialsBtnClick()">
        </terra-button>
        <terra-button
            [inputIcon]="'icon-refresh'"
            [inputTooltipText]="'refresh' | translate:lang"
            [inputTooltipPlacement]="'bottom'"
            (outputClicked)="onRefreshCredentialsTokenBtnClick()">
        </terra-button>
        <terra-button
            [inputIcon]="'icon-delete'"
            [inputIsSecondary]="true"
            [inputTooltipText]="'remove' | translate:lang"
            [inputTooltipPlacement]="'bottom'"
            (outputClicked)="onShowRemoveCredentialOverlayBtnClick()">
        </terra-button>
    </div>
</terra-info-box>

<terra-overlay
    #overlay
    [inputOverlayTitle]="'removeAccount' | translate:lang"
    [inputPrimaryButtonInterface]="removeBtn"
    [inputSecondaryButtonInterface]="cancelBtn"
    [inputIsStatic]="true"
    [inputIsSmall]="true"
    [inputIsCloseable]="false">
    <div>
        {{'removeConfirmationMessage' | translate:lang}} ({{credential.data.userId }})
    </div>
</terra-overlay>