<!-- TOOLBAR -->
<terra-base-toolbar>
    <div class="btn-group" role="group">
        <terra-button [inputIsTertiary]="true"
                      [inputIcon]="'icon-plugin_productive'"
                      [inputTooltipText]="'addCredentialsProduction' | translate:lang"
                      [inputTooltipPlacement]="'right'"	
                      (outputClicked)="openAuthenticationPopup('production')">
        </terra-button>
        <terra-button [inputIcon]="'icon-plugin_stage'"
                      [inputTooltipText]="'addCredentialsSandbox' | translate:lang"
                      [inputTooltipPlacement]="'right'"
                      (outputClicked)="openAuthenticationPopup('sandbox')">
        </terra-button>
    </div>
</terra-base-toolbar>

<div class="container-fluid">
    <div class="row">
        <ng-template ngFor let-credential [ngForOf]="_credentialsList">
            <div class="col-xs-12 col-md-4 col-lg-4">
                <credential-box [credential]="credential"></credential-box>
            </div>
        </ng-template>
    </div>
</div>