<!-- TOOLBAR -->
<terra-base-toolbar>
    <div class="btn-group" role="group">
        <terra-button
                inputIcon="icon-plugin_productive icon_dist_top"
                inputTooltipText="{{'addCredentialsProduction' | translate:lang}}"
                inputTooltipPlacement="bottom"
                (outputClicked)="openAuthenticationPopup('production')">
        </terra-button>
        <terra-button
                inputIcon="icon-debug icon_dist_top"
                inputTooltipText="{{'addCredentialsSandbox' | translate:lang}}"
                inputTooltipPlacement="bottom"
                (outputClicked)="openAuthenticationPopup('sandbox')">
        </terra-button>
    </div>
</terra-base-toolbar>

<!-- CONTENT -->
<div class="container-fluid">
    <div class="row">
        <!-- CREDENTIALS INFOBOXES -->
        <ng-template ngFor let-credentials let-infoBoxId="index" [ngForOf]="credentialsList">
            <div class="col-xs-12 col-md-6 col-lg-3">
                <terra-info-box id="infoBox{{infoBoxId}}">
                    <div body>
                        <div id="textInput{{infoBoxId}}" [hidden]="true">
                            <terra-text-input
                                    inputName="{{'account' | translate:lang}}"
                                    [(ngModel)]="credentials.data.userId">
                            </terra-text-input>
                        </div>

                        <span id="label{{infoBoxId}}" [hidden]="false">
                            <b>{{'account' | translate:lang}}:</b> {{credentials.data.userId}}<br>
                        </span>

                        <b>{{'environment' | translate:lang}}:</b> {{credentials.environment | translate:lang}}<br>
                        <b>{{'status' | translate:lang}}:</b> {{credentials.status | translate:lang}}<br>
                        <b>{{'expiration' | translate:lang}}:</b> {{credentials.data.refreshTokenExpiration}}<br>
                        <b>{{'createdAt' | translate:lang}}:</b> {{credentials.createdAt | date: 'yyyy-mm-dd H:mm:ss'}}
                    </div>
                    <div buttons>
                        <terra-button
                                id="editBtn{{infoBoxId}}"
								[inputIcon]="'icon-edit'"
                                inputTooltipText="{{'edit' | translate:lang}}"
								[inputTooltipPlacement]="'bottom'"
                                [hidden]="false"
                                (outputClicked)="toggleEditMode(infoBoxId)">
                        </terra-button>
                        <terra-button
                                id="saveBtn{{infoBoxId}}"
                                inputIcon="icon-save"
                                inputTooltipText="{{'save' | translate:lang}}"
                                inputTooltipPlacement="bottom"
                                [hidden]="true"
                                (outputClicked)="saveCredentials(infoBoxId, credentials)">
                        </terra-button>
                        <terra-button
                                inputIcon="icon-refresh"
                                inputTooltipText="{{'refresh' | translate:lang}}"
                                inputTooltipPlacement="bottom"
                                (outputClicked)="refreshCredentialsToken(credentials)">
                        </terra-button>
                        <terra-button
                                inputIcon="icon-delete"
                                inputTooltipText="{{'remove' | translate:lang}}"
                                inputTooltipPlacement="bottom"
                                (outputClicked)="showRemoveCredentialsOverlay(credentials)">
                        </terra-button>
                    </div>
                </terra-info-box>
            </div>
        </ng-template>
    </div>
</div>

<!-- OVERLAYS -->
<terra-overlay
        #removeCredentialsConfirmationOverlay
        inputOverlayTitle="{{'removeAccount' | translate:lang}}"
        [inputPrimaryButtonInterface]="removeCredentialsButtonInterface"
        [inputSecondaryButtonInterface]="cancelRemoveCredentialsButtonInterface"
        [inputIsStatic]="true"
        [inputIsSmall]="true">
    <div>
        {{'removeConfirmationMessage' | translate:lang}} ({{credentialsUserIdToBeDeleted}})
    </div>
</terra-overlay>