<!-- TOOLBAR -->
<terra-base-toolbar>
	<div class="btn-group" role="group">
		<terra-button
				[inputIcon]="'icon-plugin_productive'"
				[inputTooltipText]="'addCredentialsProduction' | translate:lang"
				[inputTooltipPlacement]="'bottom'"
				(outputClicked)="openAuthenticationPopup('production')">
		</terra-button>
		<terra-button
				[inputIcon]="'icon-debug'"
				[inputTooltipText]="'addCredentialsSandbox' | translate:lang"
				[inputTooltipPlacement]="'bottom'"
				(outputClicked)="openAuthenticationPopup('sandbox')">
		</terra-button>
	</div>
</terra-base-toolbar>

<div class="container-fluid">
	<div class="row">
		<ng-template ngFor let-credentials [ngForOf]="credentialsList">
			<div class="col-xs-12 col-md-6 col-lg-3">
				<terra-info-box>
					<span body>
						<terra-text-input
								[hidden]="!credentials.editMode"
								[inputName]="'account' | translate:lang"
								[(ngModel)]="credentials.data.userId">
						</terra-text-input>

						<span [hidden]="credentials.editMode">
                            <b>{{'account' | translate:lang}}:</b> {{credentials.data.userId}}<br>
                        </span>

						<b>{{'environment' | translate:lang}}:</b> {{credentials.environment | translate:lang}}<br>
						<b>{{'status' | translate:lang}}:</b> {{credentials.status | translate:lang}}<br>
						<b>{{'expiration' | translate:lang}}:</b> {{credentials.data.refreshTokenExpiration}}<br>
						<b>{{'createdAt' | translate:lang}}:</b> {{credentials.createdAt | date: 'yyyy-mm-dd H:mm:ss'}}
					</span>
					<div buttons>
						<terra-button
								[inputIcon]="'icon-edit'"
								[inputTooltipText]="'edit' | translate:lang"
								[inputTooltipPlacement]="'bottom'"
								[hidden]="credentials.editMode"
								(outputClicked)="credentials.editMode = true">
						</terra-button>
						<terra-button
								[inputIcon]="'icon-save'"
								[inputTooltipText]="'save' | translate:lang"
								[inputTooltipPlacement]="'bottom'"
								[hidden]="!credentials.editMode"
								(outputClicked)="saveCredentials(credentials)">
						</terra-button>
						<terra-button
								[inputIcon]="'icon-refresh'"
								[inputTooltipText]="'refresh' | translate:lang"
								[inputTooltipPlacement]="'bottom'"
								(outputClicked)="refreshCredentialsToken(credentials)">
						</terra-button>
						<terra-button
								[inputIcon]="'icon-delete'"
								[inputTooltipText]="'remove' | translate:lang"
								[inputTooltipPlacement]="'bottom'"
								(outputClicked)="showRemoveCredentialsOverlay(credentials)">
						</terra-button>
					</div>
				</terra-info-box>
			</div>
		</ng-template>
	</div>
</div>

<terra-overlay
		#removeCredentialsConfirmationOverlay
		[inputOverlayTitle]="'removeAccount' | translate:lang"
		[inputPrimaryButtonInterface]="removeCredentialsButtonInterface"
		[inputSecondaryButtonInterface]="cancelRemoveCredentialsButtonInterface"
		[inputIsStatic]="true"
		[inputIsSmall]="true">
	<div>
		{{'removeConfirmationMessage' | translate:lang}} ({{credentialsUserIdToBeDeleted}})
	</div>
</terra-overlay>